<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Антибиотики</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="form">
		<h1 class="title">
			Добро пожаловать
		</h1>

		<h1 class="title_username">
			user
		</h1>

		<a href="" id="exit_link">Выйти из профиля</a>

		<div id="first_block">
			<h3 class="title_test">
				Группы:
			</h3>

			<div class="first_block_titles">
				<h4 class="first_inf_title">
					Наименование
				</h4>
				
				<h4 class="first_inf_title">
					Количество студентов
				</h4>

				<h4 class="first_inf_title">
					Средняя оценка группы
				</h4>

				<h4 class="first_inf_title">
					Подробнее
				</h4>
			</div>

			<div class="group_block">
				<h4 class="first_inf_title_1">
					9ПКС-11
				</h4>
					
				<h4 class="first_inf_title_1">
					19
				</h4>

				<h4 style="padding-left: 18vh;" class="first_inf_title_1">
					3.8
				</h4>

				<a href="" class="first_inf_title_1">
					Просмотр
				</a>
			</div>


			<img src="content/left.jpg" alt="" id="left_image">
			<img src="content/right.jpg" alt="" id="rignt_image">
			

			<p id="last_text">by Vylkov Dmitriy and Doctor Maxin</p>
						
		</div>
	</div>
	
	<script src="script.js"></script>
</body>
</html>