<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Антибиотики</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="form">
		<h1 class="title">
			Просмотр группы
		</h1>

		<a href="" id="exit_link">Выйти из профиля</a>

		<a href="" id="back_link">Назад</a>

		<div id="first_block">
			<h3 class="title_test">
				9ПКС-11
			</h3>

			<div class="first_block_titles">
				<h4 class="first_inf_title">
					ФИО
				</h4>

				<h4 class="first_inf_title">
					Прохождений
				</h4>
				
				<h4 class="first_inf_title">
					Количество правильных ответов
				</h4>

				<h4 class="first_inf_title">
					Средняя оценка
				</h4>

				<h4 class="first_inf_title">
					Подробнее
				</h4>
			</div>

			<div class="group_all">
				<div class="group_block">
					<h4  style="padding-left: 10vh" class="first_inf_title_1">
						Вылков Д.М
					</h4>

					<h4  style="padding-left: 6vh" class="first_inf_title_1">
						2
					</h4>
					
					<h4  style="padding-left: 16vh" class="first_inf_title_1">
						31
					</h4>

					<h4  style="padding-left: 19vh" class="first_inf_title_1">
						5
					</h4>

					<a style="padding-left: 0vh" href="" class="first_inf_title_1">
						Просмотр
					</a>
				</div>
			</div>
			
		</div>
	</div>

	<img src="content/right.jpg" alt="" id="rignt_image">
	<img src="content/left.jpg" alt="" id="left_image">
	
	<p id="last_text">by Vylkov Dmitriy and Doctor Maxin</p>
	<script src="script.js"></script>
</body>
</html>