<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Антибиотики</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/stylesheets/about_group.css">
</head>
<body>
	<header>
		<div class="logo">Добро пожаловать, {{ name }}</div><nav><a href="/admin">Назад</a><a href="/logout">Выйти</a></nav>
	</header>
	<main>
		<div class="content">
		<section class="group" data-id="">
		<a name=""></a>
		<h2 class="group-title"></h2>
		<div class="group-body">
			<div class="access">
				<div>Доступ к 1 попытке <span v-if="group.acc1" class="spanOne">разрешен</span><span v-else>запрещен</span><button v-bind:data-id="group._id" class="acceptOneTest">Переключить доступ</button></div>
				<div>Доступ к 2 попытке <span class="spanTwo" v-if="group.acc2">разрешен</span><span v-else>запрещен</span><button v-bind:data-id="group._id" class="acceptTwoTest">Переключить доступ</button></div>
			</div>
			<div class="group-headers">
				<div class="group-header">Имя студента</div>
				<div class="group-header">Кол-во правильных ответов</div>
				<div class="group-header">Балл первого прохождения</div>
				<div class="group-header">Балл второго прохождения</div>
				<div class="group-header">Процент правильных ответов за 1</div>
				<div class="group-header">Процент правильных ответов за 2</div>
			</div>
			<div class="group-list">
				
						<div class="student" v-for="student of students">
							<div class="student-title"><a v-bind:href="'/student:' + student._id" title="Подробнее о студенте">{{student.fio}}</a></div>
							<div class="student-balls">{{ getInfOfSt(student._id).trueAnsw || 0 }}</div>
							<div class="student-ball">{{ getInfOfSt(student._id).ball || 0 }}</div>
							<div class="student-ball2">{{ getInfOfSt(student._id).ball2 || 0 }}</div>
							<div class="student-percent">{{ getInfOfSt(student._id).percent || 0 }}</div>
							<div class="student-percent2">{{ getInfOfSt(student._id).percent2 || 0 }}</div>
						</div>
				
			</div>
			<div class="group_block">
				<div class="wrapper_col">
					<h4>Статистика группы за 1 прохождение</h4>
					<div class="group_statick">
						<section>
							<span>Кол-во 5:</span>
							<span class="five">{{ five }}</span>
						</section>
						<section>
							<span>Кол-во 4:</span>
							<span class="fore">{{ fore }}</span>
						</section>
						<section>
							<span>Кол-во 3:</span>
							<span class="free">{{ three }}</span>
						</section>
						<section>
							<span>Средний балл группы:</span>
							<span class="res_bal">{{ middleBall }}</span>
						</section>
						<section>
							<span>Верность ответов:</span>
							<span class="res_percent">{{ middlePercent }}</span>
						</section>
						<div class="verict">Группа плохо подготовлена</div>
					</div>
				</div>
				<div class="wrapper_col">
					<h4>Статистика группы за 2 прохождение</h4>
					<div class="group_statick">
						<section>
							<span>Кол-во 5:</span>
							<span class="five2">{{ five2 }}</span>
						</section>
						<section>
							<span>Кол-во 4:</span>
							<span class="fore2">{{ fore2 }}</span>
						</section>
						<section>
							<span>Кол-во 3:</span>
							<span class="free2">{{ three2 }}</span>
						</section>
						<section>
							<span>Средний балл группы:</span>
							<span class="res_bal2">{{ middleBall2 }}</span>
						</section>
						<section>
							<span>Верность ответов:</span>
							<span class="res_percent">{{ middlePercent2 }}</span>
						</section>
						<div class="verict">Группа плохо подготовлена</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		</div>
	</main>
	<img src="../assets/imgs/left.jpg" alt="" id="left_image">
	<img src="../assets/imgs/right.jpg" alt="" id="rignt_image">
	<footer>	
		<span>Powered by Vylkov Dmitriy and Doctor Maxin</span>
	</footer>
	<script src="../assets/js/vue.js"></script>
	<script src="../assets/js/about_gr.js"></script>
	<script type="text/javascript">
		// let balls = document.querySelectorAll('.student-ball'),
		// 		ballSum = 0
		// for (let ball of balls) {
		// 	ballSum += Number(ball.innerText);
		// }
		// let balls2 = document.querySelectorAll('.student-ball2'),
		// 		ballSum2 = 0
		// for (let ball of balls2) {
		// 	ballSum2 += Number(ball.innerText);
		// }
		// document.querySelector('.res_bal').innerText = ballSum / balls.length || 0;
		// document.querySelector('.res_bal2').innerText = ballSum2 / balls2.length || 0;

		// insertStaticsBalls();
		// insertStaticsBalls(2);
		// function insertStaticsBalls(number) {
		// 	if (!number) {
		// 		number = '';
		// 	}
		// 	let iterator1 = 0, iterator2= 0, iterator3 = 0;
		// 	for (bal of document.querySelectorAll('.student-ball' + number)) {
		// 		if (bal.innerText == 3) {
		// 			iterator1++;
		// 		} else if (bal.innerText == 4) {
		// 			iterator2++;
		// 		} else if (bal.innerText == 5) {
		// 			iterator3++;
		// 		}
		// 	}
		// 	document.querySelector(`.five${number}`).innerText = iterator3;
		// 	document.querySelector(`.fore${number}`).innerText = iterator2;
		// 	document.querySelector(`.free${number}`).innerText = iterator1;
		// }
		document.querySelector('.acceptOneTest').onclick = function() {
			let xhr = new XMLHttpRequest();
			xhr.open('POST', `/changeAccess:${this.dataset.id}`, true);
			xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
			xhr.send(`access=one`);
			xhr.onload = function() {
				if (document.querySelector('.spanOne').innerText == 'разрешен') {
					document.querySelector('.spanOne').innerText = 'запрещен';
				} else  document.querySelector('.spanOne').innerText = 'разрешен';
			}
		}
		document.querySelector('.acceptTwoTest').onclick = function() {
			let xhr = new XMLHttpRequest();
			xhr.open('POST', `/changeAccess:${this.dataset.id}`, true);
			xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
			xhr.send(`access=two`);
			xhr.onload = function() {
				if (document.querySelector('.spanTwo').innerText == 'разрешен') {
					document.querySelector('.spanTwo').innerText = 'запрещен';
				} else  document.querySelector('.spanTwo').innerText = 'разрешен';
			}
		}
	</script>
</body>
</html>
