<<<<<<< HEAD
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Антибиотики</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet"  href="../assets/stylesheets/index.css">
</head>
<body>
	<div class="form">
		<h1 class="title">
			Вход в административную панель
		</h1>

		<div id="second_block">
			<h3 class="title_test_2">
				Введите данные учетной записи
			</h3>

			<form id="form_2" action="/auth_teach" method="POST">
                <input type="text" id="input_1_2" name="login" placeholder="Логин"></input>
                <input type="text" id="input_2_2" name="password" placeholder="Пароль"></input>

                <button  id="form_button_2">
                    <p id="input_text_button_2">
                        Войти
                    </p>	
                </button>
                <a href="/reg_teach" id="registration_link">Регистрация</a>
		    </form>
		</div>

		
	</div>

	<img src="../assets/imgs/right.jpg" alt="" id="rignt_image">
	<img src="../assets/imgs/left.jpg" alt="" id="left_image">
	
	<p id="last_text">by Vylkov Dmitriy and Doctor Maxin</p>

</body>
</html>
=======
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Антибиотики</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet"  href="../assets/stylesheets/index.css">
</head>
<body>
	<div class="form">
		<h1 class="title">
			Вход в административную панель
		</h1>

		<div id="second_block">
			<h3 class="title_test_2">
				Введите данные учетной записи
			</h3>

			<form id="form_2" action="/auth_teach" method="POST">
                <input type="text" id="input_1_2" name="login" placeholder="Логин"></input>
                <input type="text" id="input_2_2" name="password" placeholder="Пароль"></input>

                <button  id="form_button_2">
                    <p id="input_text_button_2">
                        Войти
                    </p>	
                </button>
                <a href="/reg_teach" id="registration_link">Регистрация</a>
		    </form>
		</div>

		
	</div>

	<img src="../assets/imgs/right.jpg" alt="" id="rignt_image">
	<img src="../assets/imgs/left.jpg" alt="" id="left_image">
	
	<p id="last_text">by Vylkov Dmitriy and Doctor Maxin</p>

</body>
</html>
>>>>>>> f3d932f99ec823c7d3bb701a6e6e93e6ec6486c5
        