<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Антибиотики</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/stylesheets/test.css">
</head>
<body>
	<div class="form">
		<h1 class="title">
			Тестирование
		</h1>

		<h3 class="title_test">
			1. Антибиотики – это
		</h3>

		<form id="form" action="" onsubmit="return false">
			<input type="radio" id="input_1" name="option1" value="a1" ><p id="input_text_1">Вещества, вызывающие гибель бактерий, либо препятствующие их росту и размножению</p>
			</input>

			<input type="radio" id="input_2" name="option1" value="a1" ><p id="input_text_2">Вещества, вызывающие гибель бактерий, либо препятствующие их росту и размножению</p>
			</input>

			<input type="radio" id="input_3" name="option1" value="a1" ><p id="input_text_3">Вещества, вызывающие гибель бактерий, либо препятствующие их росту и размножению</p>
			</input>

			<input type="radio" id="input_4" name="option1" value="a1" ><p id="input_text_4">Вещества, вызывающие гибель бактерий, либо препятствующие их росту и размножению</p>
			</input>	

			<input type="radio" id="input_5" name="option1" value="a1" ><p id="input_text_5">Вещества, вызывающие гибель бактерий, либо препятствующие их росту и размножению</p>
			</input>	

			<input type="radio" id="input_6" name="option1" value="a1" ><p id="input_text_6">Вещества, вызывающие гибель бактерий, либо препятствующие их росту и размножению</p>
			</input>	

			<button  id="form_button">
					<p id="input_text_button">
						Далее
					</p>	
				</button>
	
				<button  id="form_button_2">
					<p id="input_text_button">
						Далее
					</p>	
				</button>
	
				<button  id="form_button_3">
					<p id="input_text_button">
						Далее
					</p>	
				</button>
	
				<button  id="form_button_4">
					<p id="input_text_button">
						Далее
					</p>	
				</button>
	
				<button  id="form_button_5">
					<p id="input_text_button">
						Вернуться
					</p>	
				</button>

				<button id="form_button_6">
					<p id="input_text_button">
						Критерии
					</p>
				</button>
		</form>


		<img src="../assets/imgs/right.jpg" alt="" id="rignt_image">
		<img src="../assets/imgs/left.jpg" alt="" id="left_image">
		
		<p id="last_text">by Vylkov Dmitriy and Doctor Maxin</p>
		<script src="../assets/js/index.js"></script>
</body>
</html>
