<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Антибиотики</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Noto+Sans|Poiret+One" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/stylesheets/test.css">
</head>
<body>
		<div class="loader"><div class="title">Идет загрузка</div><div class="spinner"></div></div>
	<div class="form">
		<h1 class="title">
			Тестирование
		</h1>
		<div class="line"></div>

		<h3 class="title_test">
			1. Антибиотики – это
		</h3>

		<form id="form" action="" onsubmit="return false">
			<label for="input_1">
			<input type="radio" id="input_1" name="option1" value="a1" ><p id="input_text_1">Вещества, вызывающие гибель бактерий, либо препятствующие их росту и размножению</p>
			</label>
			<label for="input_2">
			<input type="radio" id="input_2" name="option1" value="a1" ><p id="input_text_2">Вещества, вызывающие гибель бактерий, либо препятствующие их росту и размножению</p>
			</label>
			<label for="input_3">
			<input type="radio" id="input_3" name="option1" value="a1" ><p id="input_text_3">Вещества, вызывающие гибель бактерий, либо препятствующие их росту и размножению</p>
			</label>
			<label for="input_4">
			<input type="radio" id="input_4" name="option1" value="a1" ><p id="input_text_4">Вещества, вызывающие гибель бактерий, либо препятствующие их росту и размножению</p>
			</label>	
			<label for="input_5">
			<input type="radio" id="input_5" name="option1" value="a1" ><p id="input_text_5">Вещества, вызывающие гибель бактерий, либо препятствующие их росту и размножению</p>
			</label>	
			<label for="input_6">
			<input type="radio" id="input_6" name="option1" value="a1" ><p id="input_text_6">Вещества, вызывающие гибель бактерий, либо препятствующие их росту и размножению</p>
			</label>	

			<button  id="form_button" class="btn">Далее</button>
	
				<button  id="form_button_2" class="btn">Далее</button>
	
				<button  id="form_button_3" class="btn">Далее</button>
	
				<button  id="form_button_4" class="btn">Далее</button>
	
				<button  id="form_button_5" class="btn">Вернуться</button>

				<button id="form_button_6" class="btn">Критерии</button>
		</form>

</div>
		<img src="../assets/imgs/bg.jpg" alt="" id="rignt_image">

		
	
		<script src="../assets/js/index.js"></script>
		<script>
			function ready() {
		document.querySelector('.loader').style.visibility = 'hidden';
	}
	window.addEventListener("load", ready);
		</script>
</body>
</html>
