html{
	font-family: Tahoma;
}

body{
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	min-height: 88vh;
}
h2 {
	font-weight: normal;
}
header {
	box-shadow: 0 0 5px 0 gray;
	background-color: rgb(250, 248, 248);
	padding: 1vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	font-size: 4vh;
	padding-left: 10vh;
}
nav {
	padding-right: 2vh;
}
nav a {
	color: rgb(87, 87, 87);
	font-size: 3vh;
	text-decoration-line: none;
	padding-right: 1vh;
}
main {
	width: 90vw;
	margin: 0 auto;
	margin-top: 3vh;
	background-color: rgba(255, 255, 255, 0.815);
	position: relative;
	z-index: 1;
	margin-bottom: 12vh;
}
#left_image {
	position: absolute;
	top: 80%;
	z-index: 0;
	width: 30vw;
}
#rignt_image {
	position: absolute;
	top:80%;
	width: 30vw;
	right: 0;
	z-index: 0;
}

#last_text{
	position: relative;
	opacity: 0.8;
	font-size: 2vh;
	left: 66vh;
	top: -13vh;
}

#exit_link{
	margin-top: -2.3vh;
	margin-left: 121.1vh;
	position: absolute;
}
.wrapper_col {
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.section h5 {
	font-size: 2.7vh;
}
.group_statick section {
		display: flex;
		width: 20vw;
		justify-content: space-between;
		border-bottom: 1px solid gray;
}
.group_statick section span {
	display: block;
	font-size: 2.7vh;
	padding-bottom: 5px;
	line-height: 3.5vh;
}
.verict {
	margin: 10px;
	font-size: x-large;
	font-weight: bold;
}




.group {
	border: .1vw rgb(43, 41, 41) solid;
	padding: 0.8vw;
	margin-bottom: 2vh;
}
.group-title {
	font-weight: normal;
	font-size: x-larger;
	margin-top: 0vh;
}
.group-headers {
	display: flex;

}
.group-header {
	width: 16%;
	font-size: smaller;
	font-weight: 600;
	margin-bottom: 1vh;
}
.group-body {
	padding: 0 1vh;
}
.group-group-list {
	display: flex;
	flex-direction: column;
	padding-top: 1vh;
}

.student {
	width: calc(100% - 4vh);
	border: 1px solid rgba(0, 0, 0, 0.432);
	padding: 2vh;
	display: flex;
	margin-bottom: 1vh;
}
.student > div {
	width: 16.6%;
}

footer {
	width: 100%;
	margin-top: 5vh;
	position: absolute;
	top: 100%;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 7vh;
}
.group_block {
	display: flex;
	
}
.access {
	margin-bottom: 1vh;
}
.access span {
	margin-right: 1vh;
}
.access > div {
	margin-bottom: 1vh;
}