html{
	font-family: Tahoma;
}

body{
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	min-height: 88vh;
}
h2 {
	font-weight: normal;
}
header {
	box-shadow: 0 0 5px 0 gray;
	background-color: rgb(250, 248, 248);
	padding: 1vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	font-size: 4vh;
	padding-left: 10vh;
}
nav {
	padding-right: 2vh;
}
nav a {
	color: rgb(87, 87, 87);
	font-size: 3vh;
	text-decoration-line: none;
	padding-right: 1vh;
}
main {
	width: 90vw;
	margin: 0 auto;
	margin-top: 3vh;
	background-color: rgba(255, 255, 255, 0.815);
	position: relative;
	z-index: 1;
	margin-bottom: 12vh;
}
#left_image {
	position: absolute;
	top: 80%;
	z-index: 0;
	width: 30vw;
}
#rignt_image {
	position: absolute;
	top:80%;
	width: 30vw;
	right: 0;
	z-index: 0;
}

#last_text{
	position: relative;
	opacity: 0.8;
	font-size: 2vh;
	left: 66vh;
	top: -13vh;
}

.student {
	border: .1vw rgb(43, 41, 41) solid;
	padding: 0.8vw;
	margin-bottom: 2vh;
}
.student-title {
	font-weight: normal;
	font-size: x-larger;
}
.student-headers {
	display: flex;
	flex-direction: column;
}

.student-header {
	font-size: larger;
	font-weight: 500;
	margin-bottom: 1vh;
	border-bottom: 1px dashed rgb(43, 41, 41);
}
.student-body {
	padding: 0 1vh;
	display: flex;
}
.student-list {
	display: flex;
	flex-direction: column;
	margin-left: 4vh;
}
.student-infdo {
	font-size: larger;
	margin-bottom: 1vh;
	border-bottom: 1px solid transparent;
}
.wrapper {
	position: absolute;
	width: 100%;
	height: 112vh;
	background-color: rgba(0, 0, 0, 0.548);
	top: 0;
	display: none;
	left: 0;
	z-index: 5;
}
.tetsOne {
	position: absolute;
	width: 50vw;
	background-color: white;
	box-shadow: 0px 0px 5px 1px gray;
	display: flex;
	flex-direction: column;
	padding: 2vh;
	display: none;
	z-index: 7;
	top: 5%;
	left: 25%;
	margin-bottom: 10vh;
}

.close {
	position: absolute;
	right: 0;
	top: 0;
	transition: background 0.2s linear;
	text-align: center;
	user-select: none;
	cursor: pointer;
	width: 30px;	
	font-size: larger;
	line-height: 30px;
	height: 30px;
	z-index: 20;
}
.close:hover {
	background-color: brown;
	color: whitesmoke;
}
.test-title {
	padding-left: 2vw;
	min-width: 10vw;
}
.test-value {
	padding-left: 2vw;
}
.row {
	display: flex;
	padding-bottom: 1vh;
	padding-top: 1vh;
}
.row:nth-child(2n -1) {
	background-color: rgb(201, 221, 199);
}

footer {
	width: 100%;
	margin-top: 5vh;
	position: absolute;
	top: 100%;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 7vh;
}
