html{
	font-family: Tahoma;
}

body{
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	min-height: 88vh;
}
h2 {
	font-weight: normal;
}
header {
	box-shadow: 0 0 5px 0 gray;
	background-color: rgb(250, 248, 248);
	padding: 1vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	font-size: 4vh;
	padding-left: 10vh;
}
nav {
	padding-right: 2vh;
}
nav a {
	color: rgb(87, 87, 87);
	font-size: 3vh;
	text-decoration-line: none;
}
main {
	width: 90vw;
	margin: 0 auto;
	margin-top: 3vh;
	background-color: rgba(255, 255, 255, 0.815);
	position: relative;
	z-index: 1;
	margin-bottom: 12vh;
}
#left_image {
	position: absolute;
	top: 80%;
	z-index: 0;
	width: 30vw;
}
#rignt_image {
	position: absolute;
	top:80%;
	width: 30vw;
	right: 0;
	z-index: 0;
}
.loader {
	width: 4vh;
	margin-bottom: -1.3vh;
	opacity: 0;
	transition: opacity 0.3s linear;
}
.loader-remove {
	position: relative;
    left: 46%;
}
.manager {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2vh;
}
.section {
	border: 1px solid rgba(0, 0, 0, 0.432);
	width: 100%;
	padding: 1vw;
}
.section-body {
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,.5);
}
.section-label {
	font-size: 3vh;
	color: rgba(0, 0, 0, 0.63);
}
.section-list {
	margin: 5px;
}
a {
	text-decoration-line: none;
	color: inherit;
}
.section-example {
	list-style-type: none;
	padding-bottom: 1vh;
	color: rgba(0, 0, 0, 0.832);
	transition: all 0.1s linear;
	position: relative;
}
.section-example:hover {
	text-decoration-line: underline;
}
.section-example button {
	position: absolute;
	right: 1vh;
}
.createGroupsSpinner {
	opacity: 0;
}

.comparator {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.comparator label {
	display: block;
	margin-bottom: 5px;
}
.comparator select {
	width: 10vw;
	margin-bottom: 10px;
}
.addSelect {
	display: inline;
	background-color: rgb(201, 221, 199);
	padding: 0px 4px;
	margin-top: 1px;
	cursor: pointer;
}

.vuz {
	border: .1vw rgb(43, 41, 41) solid;
	padding: 0.8vw;
	margin-bottom: 2vh;
}
.vuz-title {
	font-weight: normal;
	font-size: x-larger;
	margin-top: 0vh;
}
.vuz-headers {
	display: flex;

}
.vuz-header {
	width: 20%;
	font-size: smaller;
	font-weight: 600;
}
.vuz-body {
	padding: 0 1vh;
}
.vuz-group-list {
	display: flex;
	flex-direction: column;
	padding-top: 1vh;
}
.vuz-group {
	width: calc(100% - 4vh);
	border: 1px solid rgba(0, 0, 0, 0.432);
	padding: 2vh;
	display: flex;
}
.vuz-group > div {
	width: 20%;
}

footer {
	width: 100%;
	margin-top: 5vh;
	position: absolute;
	top: 100%;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 7vh;
}
.wrapper {
	width: 100vw;
	position: absolute;
	z-index: 39;
	top: 0;
	background-color: rgba(0, 0, 0, 0.432);
}
.inner {
	width: 90vw;
	background-color: white;
	border: 1px solid rgb(43, 41, 41);
	position: relative;
	top: 4vh;
	min-height: 40vh;
	left: 5vw;
	z-index: 40;
}
.inner table {
	font-size: 2vh;
	border-collapse: collapse;
	padding: 1vh;
}
th {
	border-bottom: 1px solid rgb(43, 41, 41);
	padding: 5px;
	padding-bottom: 1.3vh;
}
td {
	padding: 1vh;
}
tr {
	padding-bottom: 1vh;
}
tr:nth-child(2n -1) {
	background-color: rgb(201, 221, 199);
}

.compare-two {
	display: none;
}