html{
	font-family: Tahoma;
}

body{
	overflow-x: hidden;
	overflow-y: hidden;
}

.form{
	margin-top: 20vh;
	margin-left: 40vh;
}

h1{
	margin-left: -28vh;
	margin-top: -10vh;
	font-size: 5vh;
}

.title_username{
	position: relative;
	top: 0.7vh;
	left: 51vh;
}

#first_block{
    margin-top: 10vh;
    margin-left: 10vw;
	width: 80vh;
	height: 50vh;
	border: 0.3vh solid gray;
}

#second_block{
	margin-top: -50.6vh;
	margin-left: 60vw;
	width: 60vh;
	height: 50vh;
	border: 0.3vh solid gray;
}

.title_test {
	text-align: center;
	margin-top: 10vh;
	padding-right: 8vh;
	font-size: 2.7vh;
}


.title_test{
	margin-left: 7vh;
	margin-top: 6vh;
	font-size: 2.7vh;
}

.first_inf_title{
	margin-top: 4.9vh;
	margin-left: 6vh;
	font-size: 2.7vh;
}

#first_inf{
	position: relative;
	top: -32vh;
	margin-top: 4.9vh;
	margin-left: 70vh;
	font-size: 2.7vh;
}

.title_test_2{
	text-align: center;
	margin-top: 10vh;
	padding-right: 8vh;
	font-size: 2.7vh;
}


.title_test_2{
	margin-left: 7vh;
	margin-top: 1vh;
	font-size: 2.7vh;
}

#form_button_2{
	position: absolute;
	width: 10vh;
	height: 3.3vh;
	margin-top: 2.5vh;
	margin-left: 24.1vh;
}

#input_text_button_2{
	margin-top: -0.01vh;
	font-size: 2vh;
}

#rignt_image{
	opacity: 0.5;
	z-index: -1;
	position: absolute;
	left: 130vh;
	top: 61vh;
	width: 80vh;
}

#left_image{
	opacity: 0.5;
	z-index: -1;
	position: absolute;
	right: 134vh;
	top: 61vh;
	width: 83vh;
}

#last_text{
	position: absolute;
	opacity: 0.8;
	font-size: 2vh;
	left: 80vh;
	top: 89vh;
}

#exit_link{
	margin-top: -7.3vh;
	margin-left:121.1vh;
	position: absolute;
}
table {

}
