.fa-user, .fa-lock {
	content: "\f007";
	display: block;
	font-size: 1.3em;
	background-color: #bcd8bf;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	color: white;
	width: 40px;
	text-align: center;
	line-height: -moz-block-height;
}
html{
	font-family: 'Didact Gothic', sans-serif;
	/* font-family: 'Poiret One', cursive; */
}

body{
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
.line {
	width: 10vw;
	height: 1px;
	background-color: #6c926c;
}
*::selection {
	color: whitesmoke;
	background-color: #6c926c;
}

.error {
	max-width: 22vw;
	font-size: 1.3em;
    color: #dc5e5e;
	align-self: center;
	text-align: center;
    margin-top: 20px;
}

.form {
	width: 80vw;
	margin: 0 auto;
	background-color: rgba(252, 252, 252, 0.849);
	min-height: 100vh;
	position: relative;
	box-shadow: 0px 0px 8px 0px #c1c1c1;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.loader {
	position: absolute;
	width: 100vw;
	height: 100vh;
	visibility: visible;
	background-color: #6c926c;
	color: aliceblue;
	z-index: 6;
	transition: visibility 0.3s linear;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}
.spinner {
	margin-top: 2vh;
	width: 10vw;
	height: 10vw;
	border-top: 1px solid whitesmoke;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	animation: rotate .7s ease-in-out infinite;
}

#rignt_image {
	position: absolute;
    width: 100vw;
    height: 100vh;
    transform: rotate(180deg);
    top: 0;
    filter: blur(6px);
    opacity: 0.9;
    z-index: 0;
}
@keyframes rotate {
	0% {
		transform: rotate(0)
	} 
	100% {
		transform: rotate(360deg)
	}
}
#form_button {
	border: 0;
	background-color: #6c926c;
	color: #ece7e7;
	font-size: 1.3em;
	padding: 10px;
    cursor: pointer;
    width: 100%;
	transition: background 0.3s;
	margin-bottom: 20px;
	display: flex;
    justify-content: center;
    align-items: center;
}
#form_button:hover {
	background-color: #79ac79;
}
#registration_link {
	text-align: center;
	color: #403f3f;
	font-size: 1.5em;
}

@media (max-width: 680px) {
    .loader {
		justify-content: flex-start;
    }
    .loader {
		justify-content: flex-start;
	}
	.loader .title {
		margin-top: 20vh;		
	}
	#form_button {
		font-size: 1em;
	}
	#registration_link {
		font-size: 1.5em;
    }
    .form {
        width: 100%;
    }
}