html{
	font-family: 'Didact Gothic', sans-serif;
	/* font-family: 'Poiret One', cursive; */
}

body{
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0;
	padding: 0;
}
*::selection {
	color: whitesmoke;
	background-color: #6c926c;
}

.form {
	width: 80vw;
	margin: 0 auto;
	background-color: rgba(252, 252, 252, 0.849);
	height: 100vh;
	position: relative;
	box-shadow: 0px 0px 8px 0px #c1c1c1;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.loader {
	position: absolute;
	width: 100vw;
	height: 100vh;
	visibility: visible;
	background-color: #6c926c;
	color: aliceblue;
	z-index: 4;
	transition: visibility 0.3s linear;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 3vw;
}
.spinner {
	margin-top: 2vh;
	width: 10vw;
	height: 10vw;
	border-top: 1px solid whitesmoke;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	animation: rotate .7s ease-in-out infinite;
}
@keyframes rotate {
	0% {
		transform: rotate(0)
	} 
	100% {
		transform: rotate(360deg)
	}
}
#last_text {
	position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
	z-index: 5;
	background-color: #ffffff6b;
    margin: 0;
    border-top: 1px solid gray;
    padding: 2vh;
}#last_text a {
	font-size: large;
	text-decoration-line: none;
}

#rignt_image {
	position: absolute;
    width: 100vw;
    height: 100vh;
    transform: rotate(180deg);
    top: 0;
    filter: blur(6px);
    opacity: 0.9;
    z-index: 0;
}

.title {
	font-size: 3vw;
}

#first_block {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #403f3f;
}
#form {
	display: flex;
	flex-direction: column;
	
}
.line {
	width: 10vw;
	height: .3vh;
	background-color: #6c926c;
}
.title_test {
	font-size: 2.3vw;
}
input {
	width: 21vw;
    font-size: 1.8vw;
    padding: 7px;
    border: 1px solid #6c926c;
	margin-bottom: 2vh;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	outline-width: 0;
	color: #403f3f;
	margin-left: -1px;
}
#form_button {
	border: 0;
	background-color: #6c926c;
	color: #ece7e7;
	font-size: 2.3vw;
	padding: 1vh;
	margin: .1vh;
	cursor: pointer;
	margin-bottom: 1vh;
}
#registration_link {
	text-align: center;
	color: #403f3f;
	font-size: 2vw;
}
#form div {
	position: relative;

	display: flex;
}

.fa-user, .fa-lock {
	content: "\f007";
	display: block;
	font-size: 1.8vw;
	padding: 9.5px;
	height: 1em;
    background-color: #bcd8bf;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
    color: white;
}
/* .fa-user {
	padding: 1.28vh;
} */

@media (max-width: 680px) {
	.title {
		font-size: 4vw;
	}
	.title_test {
		font-size: 3.3vw;
	}
	.fas {
		display: none;
	}
	#form div {
		margin: unset;
	}
	input {
		width: 50vw;
		margin-left: unset;
		font-size: 2.6vw;
	}
	.loader {
		justify-content: flex-start;
	}
	.loader .title {
		margin-top: 20vh;		
	}
	#form_button {
		font-size: 2.5vw;
	}
	#registration_link {
		font-size: 2.5vw;
	}
}