html{
	font-family: Tahoma;
}

body{
	overflow-x: hidden;
	overflow-y: hidden;
}

.form{
	margin-top: 20vh;
	margin-left: 40vh;
}

h1{
	margin-left: 10vh;
	margin-top: -10vh;
	font-size: 5vh;
}

#first_block{
	margin-left: 25vh;
	margin-top: 10vh;
	width: 60vh;
	height: 50vh;
	border: 0.3vh solid gray;
}

#second_block{
	margin-left: 30vh;
	margin-top: 10vh;
	width: 60vh;
	height: 50vh;
	border: 0.3vh solid gray;
}

.title_test{
	text-align: center;
	margin-top: 10vh;
	padding-right: 8vh;
	font-size: 2.7vh;
}


.title_test{
	margin-left: 7vh;
	margin-top: 10vh;
	font-size: 2.7vh;
}

#registration_link{
	margin-top: 29.3vh;
	margin-left: -25.1vh;
	position: absolute;
}

#form{
	margin-top: -8vh;
	margin-left: 16vh;
}

#input_1{
	width: 35vh;
	height: 3vh;
	margin-top: 9vh;
	margin-left:-5vh;
}

#input_2{
	position: absolute;
	width: 35vh;
	height: 3vh;
	margin-top: 15vh;
	margin-left:-35.9vh;
}

#form_button{
	position: absolute;
	width: 10vh;
	height: 3.3vh;
	margin-top: 22.8vh;
	margin-left: -23.1vh;
}

#input_text_button{
	margin-top: -0.01vh;
	font-size: 2vh;
}

.title_test_2{
	text-align: center;
	margin-top: 10vh;
	padding-right: 8vh;
	font-size: 2.7vh;
}


.title_test_2{
	margin-left: 7vh;
	margin-top: 8vh;
	font-size: 2.7vh;
}

#form_2{
	margin-top: -5vh;
	margin-left: 16vh;
}

#input_1_2{
	width: 35vh;
	height: 3vh;
	margin-top: 9vh;
	margin-left:-5vh;
}

#input_2_2{
	position: absolute;
	width: 35vh;
	height: 3vh;
	margin-top: 15vh;
	margin-left:-35.9vh;
}

#form_button_2{
	position: absolute;
	width: 10vh;
	height: 3.3vh;
	margin-top: 25.5vh;
	margin-left: -23.1vh;
}

#input_text_button_2{
	margin-top: -0.01vh;
	font-size: 2vh;
}

#rignt_image{
	opacity: 0.5;
	z-index: -1;
	position: absolute;
	left: 130vh;
	top: 61vh;
	width: 80vh;
}

#left_image{
	opacity: 0.5;
	z-index: -1;
	position: absolute;
	right: 134vh;
	top: 61vh;
	width: 83vh;
}

#last_text{
	position: absolute;
	opacity: 0.8;
	font-size: 2vh;
	left: 80vh;
	top: 89vh;
}

@media(max-width: 550px){
	html{
	font-family: Tahoma;
	}

	body{
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.form{
		margin-top: 20vh;
		margin-left: 40vh;
	}

	h1{
		width: 40vh;
		margin-left: -34vh;
		margin-top: -16vh;
		font-size: 2.8vh;
		text-align: center;
	}

	.title_username{
		position: relative;
		top: 15vh;
		left: 0vh;
	}

	#first_block{
		margin-top: 5vh;
		margin-left: -35.5vh;
		width: 45vh;
		height: 45vh;
		border: 0.3vh solid gray;
	}

	.title_test{
		margin-left: 8vh;
		margin-top: 4vh;
		font-size: 2.7vh;
	}

	#registration_link{
		margin-top: 29.3vh;
		margin-left: -25.1vh;
		position: absolute;
	}

	#form{
		margin-top: -8vh;
		margin-left: 9vh;
	}

	#input_1{
		width: 35vh;
		height: 3vh;
		margin-top: 9vh;
		margin-left:-5vh;
	}

	#input_2{
		position: absolute;
		width: 35vh;
		height: 3vh;
		margin-top: 15vh;
		margin-left:-35.9vh;
	}

	#form_button{
		position: absolute;
		width: 10vh;
		height: 3.3vh;
		margin-top: 22.8vh;
		margin-left: -23.1vh;
	}

	#input_text_button{
		margin-top: -0.01vh;
		font-size: 2vh;
	}

	#rignt_image{
		opacity: 0.5;
		z-index: -1;
		position: absolute;
		left: 35vh;
		top: 63vh;
		width: 30vh;
	}

	#left_image{
		opacity: 0.5;
		z-index: -1;
		position: absolute;
		left: -11vh;
		top: 63vh;
		width: 30vh;
	}

	#last_text{
		position: absolute;
		opacity: 0.8;
		font-size: 1.6vh;
		width: 16vh;
		text-align: center;
		left: 19vh;
		top: 68vh;
	}

}