

.title {
	font-size: 2em;
}
#first_block {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #403f3f;
	width: 80%;
	margin-bottom: 20px;
}
#form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.error {
	margin-bottom: 2vh;
    color: #d83232;
    font-size: 1em;
}
.title_test {
	font-size: 1.3em;
	width: 80%;
}
.title_no {
	width: 10%;
	font-size: 1.3em;
}
.first_inf_title {
	width: 80%;
}
.row {
	display: flex;
	align-items: flex-start;
}
.row h4 {
	width: 80%;
}
#form_button {
	width: 150px;
}
.row p {
	width: 10%;
	line-height: 2em;
	display: block;
}

header {
	display: flex;
	justify-content: space-between;
    width: calc(100% - 40px);
    padding: 0 20px;
}
a {
	text-decoration-line: none;
	font-size: large;
	color: #403f3f;
	margin: 10px 10px;
}
a:hover {
	border-bottom: 1px solid #403f3f;
}
#second_block {
	width: 80%;
}
#first_block, #second_block {
	border-left: 2px solid #6c926c;
	padding-left: 10px;
	background-color: rgba(244, 245, 244, 0.349);
}
#first_block , .col{
	display: flex;
	flex-direction: column;
}
.first_block-header, .first_block_body {
	display: flex;
	width: 100%;
}
.first_block_body {
	flex-direction: column;
}
.container {
	width: 100%;
	display: flex;
	margin-top: 20px;
	flex-wrap: wrap;
	justify-content: space-around;
} 
@media (max-width: 680px) {
	.container {
		flex-direction: column;
		align-items: center;
	}
	#first_block {
		width: 90%;
	}
	#second_block {
		width: 90%;
	}
	.title {
		font-size: 1.6em;
	}
	.title_test {
		font-size: 1.3em;
	}
	header {
		flex-wrap: wrap;
		margin-bottom: 2vh;
		justify-content: center;
	}
	.fas {
		display: none;
	}
	#form div {
		margin: unset;
	}
	.error {
		margin: 2vw;
		font-size: 1em;
	}

	#form_button {
		font-size: 1em;
		width: 90%;
	}
	select {
		width: 100%;
	}
	#registration_link {
		font-size: 2.5vw;
	}
	
}
